@charset "UTF-8";
/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 150px !important;
}

.pb-lg {
  padding-bottom: 150px !important;
}

.popular__item {
  flex-basis: 25%;
}

.popular__img {
  height: 335px;
}

.aboutme__img {
  height: 400px;
}

.aboutme__description {
  margin-bottom: 40px;
}

.aboutme__title::before {
  display: block;
}

.footer__li {
  justify-content: flex-start;
}

.header__nav {
  display: block;
}

.mobile-menu__btn {
  display: none;
}

.swiper-slide {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.hero {
  width: 100%;
  height: 100vh;
}

.contact__item {
  display: flex;
  justify-content: space-around;
}

.contact__form__header {
  display: flex;
  justify-content: space-between;
}
