$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cMenuOpen: $cBlack;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$cBlue: #009bc6;
$cGray: #888888;
$cOrange: #f37053;
$contentMaxWidth: 1070px;
$navHeight: 70px;
